<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/font-awesome.min.css">
    <link rel="stylesheet" href="style/login.css">
    <title>login</title>
</head>

<body>
    <section id="main">
        <h2 id="title">Every Day</h2>
        <div class="form">
            <input type="text" name="id" placeholder="帐号"/>
            <input type="password" name="pass" placeholder="密码"/>
            <span class="error-block" style="display: none;">
                <span class="icon-bolt"></span>
                <span>该用户未注册</span>
            </span>
            <button id="submit">登录<span class="icon-right">↪</span></button>
            <div class="horizontal-line"></div>
            <button id="register"><a href="/register">注册</a></button>
        </div>
    </section>
    <script src="javascript/jquery-3.1.1.min.js"></script>
    <script>
    var $id = $('input[name="id"]');
    var $pass = $('input[name="pass"]');
    var $btn = $('#submit');
    var $errorBlock = $('.error-block');

    $id.on('focus', function () {
        $id.removeClass('border-red');
        $errorBlock.hide();
    });

    $btn.on('click', function () {
        var id = $id.val();
        var pass = $pass.val();
        $.post('/back/checklogin', { id, pass }, function (data) {
            console.log(data);
            if (data === '1') {
                $errorBlock.show();
                $id.addClass('border-red');
            } else {
                window.location.href = '/index';
            }
        });
    });
    </script>
</body>
</html>