<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" href="style/font-awesome.min.css">
    <link rel="stylesheet" href="style/login.css">
</head>
<body>
    <section id="main">
        <h2 id="title">Every Day</h2>
        <div class="form">
            <input type="text" name="username" placeholder="用户名">
            <input type="text" name="userid" placeholder="帐号"/>
            <span class="error-block" style="display: none;">
                <span class="icon-bolt"></span>
                <span>已存在该帐号</span>
            </span>
            <input type="password" name="pass" placeholder="密码"/>
            <button id="submit">注册<span class="icon-right">↪</span></button>
        </div>
    </section>
    <script src="javascript/jquery-3.1.1.min.js"></script>
    <script>
        var $usrName = $('input[name="username"]');
        var $usrId = $('input[name="userid"]');
        var $usrPass = $('input[name="pass"]');
        var $errorBlock = $('.error-block');

        $usrId.on('focus', function () {
            $usrId.removeClass('border-red');
            $errorBlock.hide();
        });

        var $btn = $('#submit');
        $btn.on('click', function () {
            var usrName = $usrName.val();
            var usrId = $usrId.val();
            var usrPass = $usrPass.val();

            $.post('/back/register', {
                username: usrName,
                userid: usrId,
                pass: usrPass
            }, function (res) {
                if (res == '1') {
                    $usrId.addClass('border-red');
                    $errorBlock.show();
                } else if (res == '0') {
                    window.location.href = '/index';
                }
            });
        });
        
    </script>
</body>
</html>